apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: lab7
  labels:
    app: db
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  type: ClusterIP
